<!DOCTYPE html>
<html>
<head>
  <title>Mail Order Trees</title>
  <link href="css/main.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <div id="trustpilot-header">
      <div class="row">
        <div class="col-9">
          <div class="trustpilot-logo">
            <img src="images/trustpilot-icon.png">
            <div class="trustpilot-info">
              <span>2,997 reviews</span>
              <img src="images/half-filled-stars.png">
              <span>97%</span>
            </div>
          </div>
        </div>
        
        <div class="col-3">
          <div class="trustpilot-buttons">
            <span id="trustpilot-singUp">sign up</span>
        
            <span id="trustpilot-singIn">sign in</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div id="header">
        <div class="col-3">
          <a href="#" id="logo"><img src="images/logo.png"></a>
        </div>
        
        <div class="col-6">
          <div id="information">
            <p id="call-us">Call us:</p>
            <p id="telephone">Tel. 0800 066 5972</p>
            <p id="worktime">(Monday- Friday 9.30 am-4.30 pm)</p>
          </div>
        </div>

        <div class="col-3">
          <div class="header-buttons">
            <div id="cart">
              <img src="images/cart.png">
              <span class="cart-text">Cart: </span>
              <span>0 items - </span>
              <img src="images/british_pound_sign_black.png">
              <span>0.00</span>
            </div>

            <div id="search-bar">
              <form name="search" action="#">
                <input class="search-input" type="text" placeholder="search">
                <input class="button-search" type="button">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="navbar">
      <div class="row">
        <div class="col-12">
          <ul class="top-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Catalogue</a></li>
            <li><a href="#">Season specials</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div id="content">
      <div class="row">
        <div class="col-12">
          <div id="jumbotron">
            <img src="images/banner-picture.png">
            <span class="jumbotron-text">Check out our season specilas for <strong>half price!</strong></span>
            <a href="#">Learn more</a>
          </div>
        </div>
      </div>
      
      <div id="featured-collection">
        <div class="row">
          <div class="col-12">
            <div class="section-header">
              <h2>Featured Collection</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="row-item first">
              <div class="item-image">
                <img src="images/Acer-palmatum-Sangokaku.png">
              </div>
              <span class="item-title">Acer palmatum 'Sango-kaku'  (Coral Bark Maple)</span>
              <span class="item-price">&#163;34.99
                <span class="item-price-old">&#163;44.99</span>
              </span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row-item">
              <div class="item-image">
                <img src="images/top-blueberries.png">
              </div>
              <span class="item-title">Vaccinium 'Bluecrop'  (Bluecrop Blueberry Plant)</span>
              <span class="item-price">&#163;9.99
                <span class="item-price-old"></span>
              </span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row-item">
              <div class="item-image">
                <img src="images/Layer-3.png">
              </div>
              <span class="item-title">Pinus Sylvestris  (Scots Pine)</span>
              <span class="item-price">&#163;34.99
                <span class="item-price-old">&#163;34.99</span>
              </span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row-item last">
              <div class="item-image">
                <img src="images/Layer-4.png">
              </div>
              <span class="item-title">Corylus 'Hall's Giant'  (Hazelnut Tree)</span>
              <span class="item-price">&#163;34.99
                <span class="item-price-old"></span>
              </span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div id="best-sellers">
        <div class="row">
          <div class="col-12">
            <div class="section-header">
              <h2>Best Sellers</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="row-item first">
              <div class="item-image">
                <img src="images/Plum-Victoria.png">
              </div>
              <span class="item-title">Prunus 'Victoria'  (Victoria Plum Tree)</span>
              <span class="item-price">&#163;34.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="row-item">
              <div class="item-image">
                <img src="images/Syringa-louis-spaeth2.png">
              </div>
              <span class="item-title">Syringa 'Souvenir de Louis  Spaeth' (Lilac Tree)</span>
              <span class="item-price">&#163;39.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="row-item">
              <div class="item-image">
                <img src="images/Medlar-nottingham-fruit.png">
              </div>
              <span class="item-title">Mespilus 'Nottingham'  (Nottingham Medlar Tree)</span>
              <span class="item-price">&#163;14.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="row-item last">
              <div class="item-image">
                <img src="images/Arbutus-unedo-Fruit-(1).png">
              </div>
              <span class="item-title">Arbutus unedo  (Strawberry Tree)</span>
              <span class="item-price">&#163;25.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-3">
            <div class="row-item first">
              <div class="item-image">
                <img src="images/Plum-Victoria.png">
              </div>
              <span class="item-title">Prunus 'Victoria'  (Victoria Plum Tree)</span>
              <span class="item-price">&#163;34.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="row-item">
              <div class="item-image">
                <img src="images/Syringa-louis-spaeth2.png">
              </div>
              <span class="item-title">Syringa 'Souvenir de Louis  Spaeth' (Lilac Tree)</span>
              <span class="item-price">&#163;39.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="row-item">
              <div class="item-image">
                <img src="images/Medlar-nottingham-fruit.png">
              </div>
              <span class="item-title">Mespilus 'Nottingham'  (Nottingham Medlar Tree)</span>
              <span class="item-price">&#163;14.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="row-item last">
              <div class="item-image">
                <img src="images/Arbutus-unedo-Fruit-(1).png">
              </div>
              <span class="item-title">Arbutus unedo  (Strawberry Tree)</span>
              <span class="item-price">&#163;25.99</span>
              <div class="add-item">
                <a class="item-button" href="#">Add to cart</a>
              </div>
               <div class="view-item">
                <a class="item-button" href="#">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="why-us">
        <div class="row">
          <div class="col-12">
            <div class="section-header">
              <h2>Why Choose Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="column first">
              <div class="column-header">
                <div class="gray-circle"></div>
                <img id="tick" src="images/dT85e6aqc.png">
                <span class="column-header-text">High Quality Products</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div class="col-4">
            <div class="column">
              <div class="column-header">
                <div class="gray-circle"></div>
                <img id="truck" src="images/icon_free_shipping.png">
                <span class="column-header-text">Free Shipping</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
            
          <div class="col-4">
            <div class="column last">
              <div class="column-header">
                <div class="gray-circle"></div>
                <img id="lock" src="images/lock-icon.png">
                <span class="column-header-text">Secure Online Shopping</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="footer">
      <div class="row">
        <div class="col-4">
          <span id="newsletter">Sign Up For Our Newsletter</span>
        </div> 
        
        <div class="col-4">
          <form class="form-wrapper cf" name="email" action="#">
            <input id="input-email" type="email" placeholder="Enter your email">
            <input id="button-signUp" type="button" value="Sign up">
          </form>
        </div>
        
        <div class="col-4">
          <div class="social-icons">
            <img src="images/Layer-5.png">
            <img src="images/pinterest-4096-black.png">
            <img src="images/Layer-7.png">
            <img src="images/facebook-512.png">
          </div>
        </div>
      </div>
    </div>
    
    <div id="footer-columns">
      <div class="row">
        <div class="col-3">
          <div class="footer-column">
            <div class="footer-column-header">
              <img src="images/logo-copy.png">
              <img src="images/checkRate.png">
            </div>
            <div class="footer-column-text about-company">
              <p>I’m Michael Simpson, the founder of Mail Order Trees, and I’ve created this page to share a little bit of my background with you and the story and how Mail Order Trees came about.</p>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="footer-column">
            <div class="footer-column-header">
              <h2>Information</h2>
            </div>
            <div class="footer-column-text about-company">
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Delivery Information</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Recent Testimonials</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="footer-column">
            <div class="footer-column-header">
              <h2>Customer Service</h2>
            </div>
            <div class="footer-column-text about-company">
              <ul>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Truspilot</a></li>
                <li><a href="#">Gift Vouchers</a></li>
                <li><a href="#">People Testimonials</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="footer-column">
            <div class="footer-column-header">
              <h2>Company Info</h2>
            </div>
            <div class="footer-column-text about-company">
              <ul>
                <li>Mail Order Trees, 42 Station Road, Foedham, Ely, Cambs CB75LW</li>
                <li>Email: mailordertrees.co.uk</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
