html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  position: relative;

  display: grid;
  width: 260px;
  height: 200px;
  padding: 20px;

  font-size: 0;

  background-color: black;
  border: 20px solid black;

  animation-name: movie;
  animation-duration: 10s;
  animation-play-state: paused;
  animation-timing-function: step-end;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(13, 1fr);
}

@keyframes movie {
  0% {
    grid-template-areas:
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a c . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }

  3% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            "a . c . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }

  6% {
    grid-template-areas:
            ". . . c . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }

  9% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . c . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }

  12% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . c . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }

  15% {
    grid-template-areas:
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . c . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . .";
  }

  18% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . c . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b";
  }

  21% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . c . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . .";
  }

  24% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . c . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . .";
  }

  27% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . c . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . b";
  }

  30% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . c b"
            ". . . . . . . . . . . . b";
  }

  33% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . c . .";
  }

  36% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . c . . ."
            ". . . . . . . . . . . . .";
  }

  39% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . . c . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }

  42% {
    grid-template-areas:
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . ."
            "a . . . . . . . . . . . ."
            "a . . . . . . . . . . . b"
            "a . . . . . . . . . . . b"
            "a . . . . . . c . . . . b"
            ". . . . . . . . . . . . b"
            ". . . . . . . . . . . . ."
            ". . . . . . . . . . . . .";
  }
}

span {
  background-color: white;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.f {
  grid-area: f;
}

.g {
  grid-area: g;
}

.h {
  grid-area: h;
}

.i {
  grid-area: i;
}

.j {
  grid-area: j;
}

.k {
  grid-area: k;
}

.l {
  grid-area: l;
}

.m {
  grid-area: m;
}

.n {
  grid-area: n;
}

.o {
  grid-area: o;
}

.p {
  grid-area: p;
}

.q {
  grid-area: q;
}

.p,
.q {
  background-color: crimson;
}

.switch {
  display: none;
}

.switch:checked + .field .switch-control {
  grid-template-areas:
          ". . .  .  . .  . .  . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . s1 s1 . . s2 s2 . ."
          ". . .  .  . . .  .  . .";
}

.switch:checked + .field {
  animation-play-state: running;
}

.switch-control {
  position: absolute;
  bottom: -6px;
  left: -6px;

  display: grid;
  width: 20px;
  height: 20px;

  font-size: 0;

  outline: 2px solid #fff;
  outline-offset: 2px;
  grid-template-rows: repeat(11, 1fr);
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
          ". . s1 .  .  .  .  .  . ."
          ". . s1 s2 .  .  .  .  . ."
          ". . s1 s2 s3 .  .  .  . ."
          ". . s1 s2 s3 s4 .  .  . ."
          ". . s1 s2 s3 s4 s5 .  . ."
          ". . s1 s2 s3 s4 s5 s6 . ."
          ". . s1 s2 s3 s4 s5 .  . ."
          ". . s1 s2 s3 s4 .  .  . ."
          ". . s1 s2 s3 .  .  .  . ."
          ". . s1 s2 .  .  .  .  . ."
          ". . s1 .  .  .  .  .  . .";
}

.switch-control > span {
  background-color: white;
}

.s1 {
  grid-area: s1;
}

.s2 {
  grid-area: s2;
}

.s3 {
  grid-area: s3;
}

.s4 {
  grid-area: s4;
}

.s5 {
  grid-area: s5;
}

.s6 {
  grid-area: s6;
}
